<section id="journal" class="journalEntry">

  <form name="journalForm" ng-submit="journal()">
<!-- <center>     -->
  <img src="images/Pencil_Icon-01.svg" class="pencil-logo"></img>
    <img src="images/Gratitude_SMALL.jpg" class="grat-logo-small"></img>
<!-- </center> -->
  <div style="color: #7dc74d;" class="text-center journal-title" >NEW JOURNAL ENTRY</div>

<div class="form-group">
	<div class="input-group">
		<span>
			<div class="numberCircle">1</div>
		</span>
   <input type="text" ng-model="journal.gratitude1" class="form-control" placeholder="I am thankful for..."></input>
   <span class="input-group-btn">
        <button class="btn btn-default" type="button">Share!</button>
   </span>
	</div>
	<div class="input-group">
		<span>
			<div class="numberCircle">2</div>
		</span>
   <input type="text" ng-model="journal.gratitude1" class="form-control" placeholder="I am thankful for..."></input>
   <span class="input-group-btn">
        <button class="btn btn-default" type="button">Share!</button>
   </span>
	</div>
	<div class="input-group">
		<span>
			<div class="numberCircle">3</div>
		</span>
   <input type="text" ng-model="journal.gratitude1" class="form-control" placeholder="I am thankful for..."></input>
   <span class="input-group-btn">
        <button class="btn btn-default" type="button">Share!</button>
   </span>
	</div>
</div>

<!-- <date-picker ng-model="date"></date-picker>

<input type="text" ng-model="date"> -->

<div class="form-group">
  Date:
       <ng-datepicker ng-model="journal.date" class="form-control">
     </ng-datepicker>
       <!-- <span ng-bind="date" class="form-control" style="display: block; margin-top: 5px;"></span> -->
   </div>

   <!-- <div class="center">
      <input type="submit" value="Submit"
        class="btn btn-primary pull-right top-buffer"></input>
    </div> -->

 </form>
<img src="images/MoodSelector-01.svg" class="mood-logo"></img>
<div class="journal-footer">
  <img src="images/Return_Button-01.svg" class="return-logo"></img>
  <img class="grat-logo-color" src="images/GrAttitude_Logo_Color-01.svg"></img>
</div>
</section>

<!-- <section id="history">
Gratitudes: {{allGratitudes}}
</section> -->
<!-- <button ng-click="getAllGratitudes()">Get all gratitudes</button -->
