<div class="gratitude-app">
	<form name="loginForm" class="login-form" ng-submit="login()">
		<!-- <div class="vert-spacer"></div> -->
		<div>
			<div>
				<img src="images/GrAttitude_Logo.svg" class="grat-logo"></img>
			</div>
			<div class="form-group">
				<input ng-model="userName" type="text"
					placeholder="User Name" class="form-control login-input">
				<input ng-model="credentials.password" type="password"
						placeholder="Password" class="form-control login-input">
				<input type="submit" value="LOGIN"
							class="btn btn-primary" class="form-control login-input"></input>
			</div>
			<div>
				<img src="images/Nationwide_Logo.svg" class="nw-logo"></img>
			</div>

		</div>
	</form>
</div>
