/* style.css
 * This file provides css styles.
 */

body,html, input {
	/*background-color: #3b4b54; */
	width : 100%;
	height: 100%;
	margin: 0 auto;
	background-color:transparent;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: black;
}

.intro-seq {
		width:100%;
}

.pencil-logo {
	z-index: 3;
	/*margin-top: 3em;*/
	height: 96px;
	position: absolute;
	/*top: 75px;
	left: 70px;*/
	right: 42%;
top: 2%;
	/*float:left;*/
}

.journal-title{
	font-size: 20px;
	margin-top: 30px;
}

.journal-footer {
	width: 100%;
	height: 10vh;
}

.mood-logo{
		padding: 10px;
}

.grat-logo-color {
	width: 70%;
	/*margin: 0 auto;*/
	float: right;
/*display: inline;*/
	/*width: 10%;*/
}

.return-logo {
	width: 20%;
	/*width: 20vw;*/
	/*margin: 0 auto;*/
	float: left;
	display: inline;
}

.grat-logo-small {
	height: 10vh;
	margin: 0 auto;
	width: 100%;
	/*position: relative;
	top: 0px;
	left: 0px;*/
}

.gratitude-app {
	background-color: #7dc74d;
	height: 100vh;
}



.grat-logo {
	height: 50vh;
	margin: 0 auto;
	width: 100%;
}

.nw-logo {
	height: 30vh;
	margin: 0 auto;
	width: 100%;
}

.container{
	margin:none;
	padding-left: auto;
	padding-right: auto;
}

.login-input {
	margin-bottom: 15px;
}

.login-form {
margin-left: 3em;
margin-right: 3em;
}

.page-title {
	font: 20px;
}


.ng-datepicker-input {
	border: none;
}

button {
	/*background-color: #3b4b54; */
	width : 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	/*color: #ffffff;*/
	color: black;
}

a {
	text-decoration: none;
	color: #00aed1;
}

a:hover {
	text-decoration: underline;
}

.newappIcon {
	padding-top: 10%;
	display: block;
	margin: 0 auto;
	padding-bottom: 2em;
	max-width:200px;
}

h1 {
	font-weight: bold;
	font-size: 2em;
}

.leftHalf {
	float: left;
	background-color: #26343f;
	width: 45%;
	height: 100%;
}

.rightHalf {
	float: right;
	width: 55%;
	background-color: #313f4a;
	height: 100%;
	overflow:auto;
}

.blue {
	color: #00aed1;
}


table {
	table-layout: fixed;
	width: 800px;
	margin: 0 auto;
	word-wrap: break-word;
	padding-top:10%;
}

th {
	border-bottom: 1px solid #000;
}

th, td {
	text-align: left;
	padding: 2px 20px;
}

.env-var {
	text-align: right;
	border-right: 1px solid #000;
	width: 30%;
}

pre {
	padding: 0;
	margin: 0;
}
